#pay{
    
}
#pay h4{
    margin-bottom: 20px;
}
#pay .pay-account a button{
    width: 50%;
    padding: 2%;
    border: 1px solid #000;
    margin: 15px auto;
    display: block;
    border-radius: 6px;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
}
#pay .pay-account a button:Hover{
     background: #000;
     color: #fff;
}
#pay img{
     margin-bottom: 10px;
     display: block;
     margin: auto;
}